---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Main Page">
	<main>
		<Hero />
	</main>
</Layout>

<style>
	html, body{
		overflow-y: hidden;
	}
</style>
