---

---

<div class="product-hub">

    <div>
        <a href="/products"><img class="product " src="../src/assets/CT-612.jpg" alt="" transition:name="img"></a>
    </div>           
    
</div>

<style>
    
    .product {
        width: 100%;
    }

    @media (max-width: 768px) {
        .product-hub {
            grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
        }
    }
</style>


    
