---

---

<div class="product-hub">
    <div>
        <a href="/productDetails"><img class="product" src="../src/assets/Vanity.jpg" alt="" transition:name="img"></a>
    </div>
    
    <div>
        <a href=""><img class="product" src="../src/assets/Vanity.jpg" alt="" /></a>
        
    </div>
    
    <div>
        <a href=""><img class="product" src="../src/assets/Vanity.jpg" alt="" /></a>
    </div>
    
    <div>
        <a href=""><img class="product" src="../src/assets/Vanity.jpg" alt="" /></a>
    </div>
    
    <div>
        <a href=""><img class="product" src="../src/assets/Vanity.jpg" alt="" /></a>
    </div>
</div>

<style>
    .product-hub {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        padding: 15px 15px;
    }

    .product {
        width: 100%;
    }

    @media (max-width: 768px) {
        .product-hub {
            grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
        }
    }
</style>
